#insertHome {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #ce93c1ff 0.0%, #dcd2b6ff 50.0%, #7ba2d3ff 100.0%);
    -fx-border-width: 2px;
    -fx-border-color: #000307;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-spacing: 10;
    -fx-padding: 10;
}


#ids {
    -fx-pref-width: 280;
    -fx-font-size: 16;
    -fx-font-family: "幼圆";
}

#pingTai {
    -fx-pref-width: 280;
    -fx-font-size: 20;
    -fx-font-family: "幼圆";
}

#insert {
    -fx-pref-width: 80;
    -fx-pref-height: 40;
    -fx-background-color: rgba(4, 255, 0, 0.35);
    -fx-font-size: 20;
    -fx-font-family: "幼圆";
}

#insert:hover {
    -fx-background-color: #1ecd96;
}