.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

#region {
    -fx-shape: "M536.873674 69.227163c-10.251907 0-21.039628 3.584-29.743627 10.775814L250.749023 301.520372H70.763163c-38.971535 0-70.251163 31.279628-70.251163 69.739163L0 674.816c0 38.459535 31.791628 70.239256 70.763163 70.239256h182.54586l252.797024 198.953674a45.353674 45.353674 0 0 0 29.743627 10.763907c24.587907 0 47.163535-18.967814 47.163535-46.651535l1.024-792.21879c0.523907-27.707535-22.551814-46.675349-47.163535-46.675349z m-23.599627 791.19479l-216.885582-170.746046a69.774884 69.774884 0 0 0-43.067535-14.859907H69.739163l1.035907-303.056372 179.973953-0.500093c16.931721 0 32.815628-6.167814 45.639442-16.931721l217.921488-188.189767-1.035906 694.283906z m207.169488-578.393302c-15.907721-10.752-37.959442-6.144-48.211349 9.751814-10.752 15.883907-6.144 37.935628 9.751814 48.199442 54.343442 36.411535 87.170977 96.398884 87.170977 160.49414 0 62.035349-30.767628 120.498605-82.03907 156.898232a34.685023 34.685023 0 0 0-8.215814 48.711442c6.667907 9.751814 17.419907 14.883721 28.719628 14.883721 7.168 0 14.336-2.059907 19.991814-6.667907 69.75107-49.735442 111.270698-129.738419 111.270698-214.349395 0-87.170977-44.091535-168.68614-118.438698-217.921489z m0 0";
    -fx-background-color: rgba(0, 0, 0);
    -fx-pref-width: 24;
    -fx-pref-height: 24;
}

#region:hover {
    -fx-background-color: #1ecd96;
}

/*
"M803.584 134.592c-18.176-10.048-39.936-10.112-58.112 0L192 443.008l0-282.88c0-17.664-14.336-32-32-32S128 142.464 128 160.128l0 344.896C127.744 507.2 127.104 509.248 127.104 511.488S127.744 515.84 128 518.016l0 346.112c0 17.664 14.336 32 32 32s32-14.336 32-32L192 579.968l553.408 308.352C754.56 893.44 764.48 896 774.528 896s19.968-2.56 29.056-7.616c18.176-10.112 28.992-28.224 28.992-48.576L832.576 183.104C832.576 162.88 821.76 144.768 803.584 134.592zM768.192 829.248 198.016 511.488 771.328 192 768.192 829.248z"
 */
#previousRegion {
    -fx-shape: "M803.584 134.592c-18.176-10.048-39.936-10.112-58.112 0L192 443.008l0-282.88c0-17.664-14.336-32-32-32S128 142.464 128 160.128l0 344.896C127.744 507.2 127.104 509.248 127.104 511.488S127.744 515.84 128 518.016l0 346.112c0 17.664 14.336 32 32 32s32-14.336 32-32L192 579.968l553.408 308.352C754.56 893.44 764.48 896 774.528 896s19.968-2.56 29.056-7.616c18.176-10.112 28.992-28.224 28.992-48.576L832.576 183.104C832.576 162.88 821.76 144.768 803.584 134.592zM768.192 829.248 198.016 511.488 771.328 192 768.192 829.248z";
    -fx-background-color: rgba(0, 0, 0);
    -fx-pref-width: 24;
    -fx-pref-height: 24;
}

#previousRegion:hover {
    -fx-background-color: #1ecd96;
}

/*
"M832 160.128c0-17.664-14.336-32-32-32S768 142.464 768 160.128l0 282.88L214.592 134.592c-18.176-10.112-39.936-10.048-58.112 0C138.24 144.768 127.424 162.88 127.424 183.168l0 656.64c0 20.224 10.816 38.464 29.056 48.576C165.568 893.44 175.488 896 185.472 896s19.968-2.56 29.056-7.616L768 579.968l0 284.096c0 17.664 14.336 32 32 32s32-14.336 32-32L832 160.128zM191.808 829.248 188.672 192l573.312 319.488L191.808 829.248z"
 */

#nextRegion {
    -fx-shape: "M832 160.128c0-17.664-14.336-32-32-32S768 142.464 768 160.128l0 282.88L214.592 134.592c-18.176-10.112-39.936-10.048-58.112 0C138.24 144.768 127.424 162.88 127.424 183.168l0 656.64c0 20.224 10.816 38.464 29.056 48.576C165.568 893.44 175.488 896 185.472 896s19.968-2.56 29.056-7.616L768 579.968l0 284.096c0 17.664 14.336 32 32 32s32-14.336 32-32L832 160.128zM191.808 829.248 188.672 192l573.312 319.488L191.808 829.248z";
    -fx-background-color: rgba(0, 0, 0);
    -fx-pref-width: 24;
    -fx-pref-height: 24;
}

#nextRegion:hover {
    -fx-background-color: #1ecd96;
}

/*
"M128 138.666667c0-47.232 33.322667-66.666667 74.176-43.562667l663.146667 374.954667c40.96 23.168 40.853333 60.8 0 83.882666L202.176 928.896C161.216 952.064 128 932.565333 128 885.333333v-746.666666z"
 */
#play {
    -fx-shape: "M128 138.666667c0-47.232 33.322667-66.666667 74.176-43.562667l663.146667 374.954667c40.96 23.168 40.853333 60.8 0 83.882666L202.176 928.896C161.216 952.064 128 932.565333 128 885.333333v-746.666666z";
    -fx-background-color: rgba(0, 0, 0);
    -fx-pref-width: 24;
    -fx-pref-height: 24;
}

#play:hover {
    -fx-background-color: #1ecd96;
}

/*
"M247.731946 0a49.546389 49.546389 0 0 0-49.546389 49.546389v924.907222a49.546389 49.546389 0 0 0 99.092779 0V49.546389a49.546389 49.546389 0 0 0-49.54639-49.546389zM776.268054 0a49.546389 49.546389 0 0 0-49.54639 49.546389v924.907222a49.546389 49.546389 0 0 0 99.092779 0V49.546389a49.546389 49.546389 0 0 0-49.546389-49.546389z"
 */
#stop {
    -fx-shape: "M247.731946 0a49.546389 49.546389 0 0 0-49.546389 49.546389v924.907222a49.546389 49.546389 0 0 0 99.092779 0V49.546389a49.546389 49.546389 0 0 0-49.54639-49.546389zM776.268054 0a49.546389 49.546389 0 0 0-49.54639 49.546389v924.907222a49.546389 49.546389 0 0 0 99.092779 0V49.546389a49.546389 49.546389 0 0 0-49.546389-49.546389z";
    -fx-background-color: rgba(0, 0, 0);
    -fx-pref-width: 24;
    -fx-pref-height: 24;
}

#stop:hover {
    -fx-background-color: #1ecd96;
}

#download {
    -fx-shape: "M774.5 896h-525c-67 0-121.5-52.2-121.5-116.3V704c0-26.5 21.5-48 48-48s48 21.5 48 48v75.7c0 11 11.7 20.3 25.5 20.3h525c13.8 0 25.5-9.3 25.5-20.3V704c0-26.5 21.5-48 48-48s48 21.5 48 48v75.7c0 64.1-54.5 116.3-121.5 116.3zM512 128c-26.5 0-48 21.5-48 48v432c0 26.5 21.5 48 48 48s48-21.5 48-48V176c0-26.5-21.5-48-48-48zM628.3 473.9c-12.3 0-24.6 4.7-33.9 14.1L512 570.3 429.7 488c-18.8-18.8-49.1-18.8-67.9 0s-18.8 49.1 0 67.9l116.3 116.3c18.8 18.8 49.1 18.8 67.9 0l116.3-116.3c18.8-18.8 18.8-49.1 0-67.9-9.5-9.4-21.8-14.1-34-14.1z";
    -fx-background-color: rgba(0, 0, 7, 0.50);
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

#download:hover {
    -fx-background-color: #1ecd96;
}

#addSongList {
    -fx-shape: "M801.171 483.589H544V226.418c0-17.673-14.327-32-32-32s-32 14.327-32 32v257.171H222.83c-17.673 0-32 14.327-32 32s14.327 32 32 32H480v257.17c0 17.673 14.327 32 32 32s32-14.327 32-32v-257.17h257.171c17.673 0 32-14.327 32-32s-14.327-32-32-32z";
    -fx-background-color: rgb(0, 0, 0);
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

#addSongList:hover {
    -fx-background-color: #1ecd96;
}

/*
"M800 452H224c-33.137 0-60 26.863-60 60s26.863 60 60 60h576c33.137 0 60-26.863 60-60s-26.863-60-60-60z"
 */

#minRegion {
    -fx-shape: "M800 452H224c-33.137 0-60 26.863-60 60s26.863 60 60 60h576c33.137 0 60-26.863 60-60s-26.863-60-60-60z";
    -fx-background-color: rgb(0, 0, 0);
    -fx-pref-width: 14;
    -fx-min-width: 14;
    -fx-max-height: 2;
}

#minRegion:hover {
    -fx-background-color: #1ecd96;
}

/*
"M812.3 959.4H213.7c-81.6 0-148-66.4-148-148V212.9c0-81.6 66.4-148 148-148h598.5c81.6 0 148 66.4 148 148v598.5C960.3 893 893.9 959.4 812.3 959.4zM213.7 120.9c-50.7 0-92 41.3-92 92v598.5c0 50.7 41.3 92 92 92h598.5c50.7 0 92-41.3 92-92V212.9c0-50.7-41.3-92-92-92H213.7z"
 */
#notMaxRegion {
    -fx-shape: "M812.3 959.4H213.7c-81.6 0-148-66.4-148-148V212.9c0-81.6 66.4-148 148-148h598.5c81.6 0 148 66.4 148 148v598.5C960.3 893 893.9 959.4 812.3 959.4zM213.7 120.9c-50.7 0-92 41.3-92 92v598.5c0 50.7 41.3 92 92 92h598.5c50.7 0 92-41.3 92-92V212.9c0-50.7-41.3-92-92-92H213.7z";
    -fx-background-color: rgb(0, 0, 0);
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-max-width: 16;
    -fx-max-height: 16;
}

#notMaxRegion:hover {
    -fx-background-color: #1ecd96;
}

/*
"M812.2 65H351.6c-78.3 0-142.5 61.1-147.7 138.1-77 5.1-138.1 69.4-138.1 147.7v460.6c0 81.6 66.4 148 148 148h460.6c78.3 0 142.5-61.1 147.7-138.1 77-5.1 138.1-69.4 138.1-147.7V213c0-81.6-66.4-148-148-148z m-45.8 746.3c0 50.7-41.3 92-92 92H213.8c-50.7 0-92-41.3-92-92V350.7c0-50.7 41.3-92 92-92h460.6c50.7 0 92 41.3 92 92v460.6z m137.8-137.7c0 47.3-35.8 86.3-81.8 91.4V350.7c0-81.6-66.4-148-148-148H260.2c5.1-45.9 44.2-81.8 91.4-81.8h460.6c50.7 0 92 41.3 92 92v460.7z"
 */
#maxRegion {
    -fx-shape: "M812.2 65H351.6c-78.3 0-142.5 61.1-147.7 138.1-77 5.1-138.1 69.4-138.1 147.7v460.6c0 81.6 66.4 148 148 148h460.6c78.3 0 142.5-61.1 147.7-138.1 77-5.1 138.1-69.4 138.1-147.7V213c0-81.6-66.4-148-148-148z m-45.8 746.3c0 50.7-41.3 92-92 92H213.8c-50.7 0-92-41.3-92-92V350.7c0-50.7 41.3-92 92-92h460.6c50.7 0 92 41.3 92 92v460.6z m137.8-137.7c0 47.3-35.8 86.3-81.8 91.4V350.7c0-81.6-66.4-148-148-148H260.2c5.1-45.9 44.2-81.8 91.4-81.8h460.6c50.7 0 92 41.3 92 92v460.7z";
    -fx-background-color: rgb(0, 0, 0);
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-max-width: 16;
    -fx-max-height: 16;
}

#maxRegion:hover {
    -fx-background-color: #1ecd96;
}

/*
"M548.992 503.744L885.44 167.328a31.968 31.968 0 1 0-45.248-45.248L503.744 458.496 167.328 122.08a31.968 31.968 0 1 0-45.248 45.248l336.416 336.416L122.08 840.16a31.968 31.968 0 1 0 45.248 45.248l336.416-336.416L840.16 885.44a31.968 31.968 0 1 0 45.248-45.248L548.992 503.744z"
 */
#closeRegion {
    -fx-shape: "M548.992 503.744L885.44 167.328a31.968 31.968 0 1 0-45.248-45.248L503.744 458.496 167.328 122.08a31.968 31.968 0 1 0-45.248 45.248l336.416 336.416L122.08 840.16a31.968 31.968 0 1 0 45.248 45.248l336.416-336.416L840.16 885.44a31.968 31.968 0 1 0 45.248-45.248L548.992 503.744z";
    -fx-background-color: rgb(0, 0, 0);
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-max-width: 16;
    -fx-max-height: 16;
}

#closeRegion:hover {
    -fx-background-color: #1ecd96;
}

/*
"M242.083399 64.995114a374.895564 374.895564 0 0 0 282.633671 132.220847A374.895564 374.895564 0 0 0 805.401744 67.269112L978.229543 256.016892a15.593982 15.593982 0 0 1 0 19.816977L863.552676 413.900709h-32.486962a32.486962 32.486962 0 0 0-32.486962 32.486962V949.930086a15.917982 15.917982 0 0 1-2.597997 9.421989H241.434399a15.917982 15.917982 0 0 1-2.599997-9.421989V449.961667a32.486962 32.486962 0 0 0-29.886965-32.486962l-27.938967-2.273998L65.031604 277.132868c-3.248996-4.222995 0-19.166978 17.54298-38.333956l159.509815-173.803798m0-64.972924a61.399929 61.399929 0 0 0-47.105946 20.466976L35.793638 194.940963c-43.20695 46.779946-44.181949 93.885891-19.491977 123.449857l113.702868 139.041838a61.399929 61.399929 0 0 0 42.55795 22.739974v469.432454A70.170918 70.170918 0 0 0 237.535404 1024H799.229751a70.170918 70.170918 0 0 0 64.972925-74.393914V480.174632h2.923996a60.749929 60.749929 0 0 0 47.105946-22.740974l115.002866-139.042838a82.515904 82.515904 0 0 0-2.599997-104.931878L852.507689 23.088163a61.724928 61.724928 0 0 0-46.129946-20.466976 64.972924 64.972924 0 0 0-49.379943 22.739974 311.546638 311.546638 0 0 1-232.27973 108.180874 311.871638 311.871638 0 0 1-232.27973-110.453872A64.972924 64.972924 0 0 0 241.1104 0.02119z"
 */
#skinRegion {
    -fx-shape: "M242.083399 64.995114a374.895564 374.895564 0 0 0 282.633671 132.220847A374.895564 374.895564 0 0 0 805.401744 67.269112L978.229543 256.016892a15.593982 15.593982 0 0 1 0 19.816977L863.552676 413.900709h-32.486962a32.486962 32.486962 0 0 0-32.486962 32.486962V949.930086a15.917982 15.917982 0 0 1-2.597997 9.421989H241.434399a15.917982 15.917982 0 0 1-2.599997-9.421989V449.961667a32.486962 32.486962 0 0 0-29.886965-32.486962l-27.938967-2.273998L65.031604 277.132868c-3.248996-4.222995 0-19.166978 17.54298-38.333956l159.509815-173.803798m0-64.972924a61.399929 61.399929 0 0 0-47.105946 20.466976L35.793638 194.940963c-43.20695 46.779946-44.181949 93.885891-19.491977 123.449857l113.702868 139.041838a61.399929 61.399929 0 0 0 42.55795 22.739974v469.432454A70.170918 70.170918 0 0 0 237.535404 1024H799.229751a70.170918 70.170918 0 0 0 64.972925-74.393914V480.174632h2.923996a60.749929 60.749929 0 0 0 47.105946-22.740974l115.002866-139.042838a82.515904 82.515904 0 0 0-2.599997-104.931878L852.507689 23.088163a61.724928 61.724928 0 0 0-46.129946-20.466976 64.972924 64.972924 0 0 0-49.379943 22.739974 311.546638 311.546638 0 0 1-232.27973 108.180874 311.871638 311.871638 0 0 1-232.27973-110.453872A64.972924 64.972924 0 0 0 241.1104 0.02119z";
    -fx-background-color: rgb(0, 0, 0);
    -fx-pref-width: 18;
    -fx-pref-height: 18;
    -fx-max-width: 18;
    -fx-max-height: 18;
}

#skinRegion:hover {
    -fx-background-color: #1ecd96;
}

/*
"M919.22 876.82L703.05 666.48c52.14-60.24 83.68-138.79 83.68-224.71 0-189.73-153.81-343.54-343.54-343.54-189.73 0-343.54 153.81-343.54 343.54s153.81 343.54 343.54 343.54c82.2 0 157.65-28.89 216.78-77.04l217.42 211.55a29.92 29.92 0 0 0 20.92 8.5c7.82 0 15.62-3.04 21.5-9.08 11.54-11.87 11.28-30.86-0.59-42.42zM553.53 703.05c-34.92 14.77-72.05 22.26-110.35 22.26s-75.43-7.49-110.35-22.26c-33.76-14.28-64.09-34.73-90.15-60.79-26.06-26.06-46.51-56.39-60.79-90.15-14.77-34.92-22.26-72.05-22.26-110.35s7.49-75.43 22.26-110.35c14.28-33.76 34.73-64.09 60.79-90.15 26.06-26.06 56.39-46.51 90.15-60.79 34.92-14.77 72.05-22.26 110.35-22.26s75.43 7.49 110.35 22.26c33.76 14.28 64.09 34.73 90.15 60.79 26.06 26.06 46.51 56.39 60.79 90.15 14.77 34.92 22.26 72.05 22.26 110.35s-7.49 75.43-22.26 110.35c-14.28 33.76-34.73 64.09-60.79 90.15-26.06 26.06-56.39 46.52-90.15 60.79z"
 */
#sourceRegion {
    -fx-shape: "M919.22 876.82L703.05 666.48c52.14-60.24 83.68-138.79 83.68-224.71 0-189.73-153.81-343.54-343.54-343.54-189.73 0-343.54 153.81-343.54 343.54s153.81 343.54 343.54 343.54c82.2 0 157.65-28.89 216.78-77.04l217.42 211.55a29.92 29.92 0 0 0 20.92 8.5c7.82 0 15.62-3.04 21.5-9.08 11.54-11.87 11.28-30.86-0.59-42.42zM553.53 703.05c-34.92 14.77-72.05 22.26-110.35 22.26s-75.43-7.49-110.35-22.26c-33.76-14.28-64.09-34.73-90.15-60.79-26.06-26.06-46.51-56.39-60.79-90.15-14.77-34.92-22.26-72.05-22.26-110.35s7.49-75.43 22.26-110.35c14.28-33.76 34.73-64.09 60.79-90.15 26.06-26.06 56.39-46.51 90.15-60.79 34.92-14.77 72.05-22.26 110.35-22.26s75.43 7.49 110.35 22.26c33.76 14.28 64.09 34.73 90.15 60.79 26.06 26.06 46.51 56.39 60.79 90.15 14.77 34.92 22.26 72.05 22.26 110.35s-7.49 75.43-22.26 110.35c-14.28 33.76-34.73 64.09-60.79 90.15-26.06 26.06-56.39 46.52-90.15 60.79z";
    -fx-background-color: rgb(0, 0, 0);
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-max-width: 16;
    -fx-max-height: 16;
}

#sourceRegion:hover {
    -fx-background-color: #1ecd96;
}


